{% extends "base.html" %}
{% block content %}
<div class="box">
    <h1 class="title">
        Aktuální pořadí - závody
    </h1>
    <table class="table is-bordered is-striped  is-hoverable">
        <thead>
            <tr>
                {% for cell in thead %}
                <th> {{cell}} </th>

                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for cell in row %}
                <td>
                    {% if cell == '1.' %}
                    <ion-icon name="trophy" id="trophy"></ion-icon>
                    {% else %}
                    {{cell}}
                    {% endif %}


                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="box">
    <h1 class="title">
        Aktuální pořadí - sezona
    </h1>
    <table class="table is-bordered is-striped  is-hoverable">
        <thead>
            <tr>
                {% for cell in thead %}
                <th> {{cell}} </th>

                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for row in rows_season %}
            <tr>
                {% for cell in row %}
                <td>
                    {% if cell == '1.' %}
                    <ion-icon name="trophy" id="trophy"></ion-icon>
                    {% else %}
                    {{cell}}
                    {% endif %}


                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


<div class="box">
    <h1 class="title">
        CELKOVÉ POŘADÍ
    </h1>
    <table class="table is-bordered is-striped  is-hoverable">
        <thead>
            <tr>
                {% for cell in thead %}
                <th> {{cell}} </th>

                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for row in rows_total %}
            <tr>
                {% for cell in row %}
                <td>
                    {% if cell == '1.' %}
                    <ion-icon name="trophy" id="trophy"></ion-icon>
                    {% else %}
                    {{cell}}
                    {% endif %}


                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}