{% extends "base.html" %}

{% block content %}
<div class="box" id="big_table">
    <h1 class="title">
        Pohár jezdců
    </h1>
<table class="table is-bordered is-striped has-sticky-header  is-hoverable">

    <thead>
        <tr>
            {% for cell in thead_drivers %}
            <th> {{cell}} </th>

            {% endfor %}

        </tr>
    </thead>
    <tbody>
        {% for row in rows_drivers %}
        <tr>
            {% for cell in row %}
            <td>
            {% if cell == "N" %}
            <ion-icon name="alert-circle"  id="noguess"></ion-icon>
            {% else %}
            {{cell}} 
            
            
            {% endif %}
        </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="box" id="big_table">
    <h1 class="title">
        Pohár konstruktérů
    </h1>
    <table class="table is-bordered is-striped  is-hoverable">
        <thead>
            <tr>
                {% for cell in thead_constr %}
                <th> {{cell}} </th>
    
                {% endfor %}
    
            </tr>
        </thead>
        <tbody>
            {% for row in rows_constr %}
            <tr>
                {% for cell in row %}
                <td>
                {% if cell == "N" %}
                <ion-icon name="alert-circle" id="noguess"></ion-icon>
                {% else %}
                {{cell}} 
                
                
                {% endif %}
            </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="box" id="big_table">
        <h1 class="title">
            Souboj v týmu
        </h1>
        <table class="table is-bordered is-striped  is-hoverable">
            <thead>
                <tr>
                    {% for cell in thead_team %}
                    <th> {{cell}} </th>
        
                    {% endfor %}
        
                </tr>
            </thead>
            <tbody>
                {% for row in rows_team %}
                <tr>
                    {% for cell in row %}
                    <td>
                    {% if cell == "N" %}
                    <ion-icon name="alert-circle" id="noguess"></ion-icon>
                    {% else %}
                    {{cell}} 
                    
                    
                    {% endif %}
                </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        
{% endblock %}


