.restorelines{
    word-break: unset;
    word-wrap: unset;
    overflow-wrap: unset;
    -webkit-hyphens: unset;
    -moz-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;
  }

ion-icon#lock {
  color: green;
}


ion-icon#noguess {
  color: red;
}

#trophy {
  color: gold;
  font-size: 20px;
}

div#big_table {
  overflow-x:auto;
  overflow-y:auto;
}


input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
}