{% extends "base.html" %}
{% block content %}
<div class="box">
    <h1 class="title">
        Aktuální pořadí - závody
    </h1>
    <table id="races" class="table is-bordered is-striped  is-hoverable" style="text-align:center"> 

    </table>

</div>
<div class="box">
  <h1 class="title">
      Aktuální pořadí - sezona
  </h1>
  <table id="season" class="table is-bordered is-striped  is-hoverable" style="text-align:center"> 

  </table>

</div>
<div class="box">
  <h1 class="title">
      Celkové pořadí
  </h1>
  <table id="full" class="table is-bordered is-striped  is-hoverable" style="text-align:center"> 

  </table>

</div>

<script>

    function generateTableHead(table, data, type) {
      let thead = table.createTHead();
      let row = thead.insertRow();
      let th = document.createElement("th");
        let text = document.createTextNode(type);
        th.appendChild(text);
        row.appendChild(th);
      
    
      for (let key of data) {
        let th = document.createElement("th");
        let text = document.createTextNode(key);
        th.appendChild(text);
        row.appendChild(th);
      }
    }
    
    function generateTable(table, data, range) {
      let i = 1 
      for (item of data){
        let row = table.insertRow();
        let cell = row.insertCell();
        let bold_el = document.createElement("B");
        let text = document.createTextNode(i + ".");
        bold_el.appendChild(text);
        cell.appendChild(bold_el)

        cell = row.insertCell();
        text = document.createTextNode(item.user);
        cell.appendChild(text);

        cell = row.insertCell();
        text = document.createTextNode(item.points);
        cell.appendChild(text);
        i++;
       }
    }
    standings_races = {{ data.RACE | tojson | safe}}

    standings_season = {{ data.SEASON | tojson | safe}}

    standings_full = {{ data.FULL | tojson | safe}}

    
    console.log(standings_races)
    head_data = ["Hráč", "Počet Bodů"]
    let table_races = document.querySelector("#races");
    
    generateTable(table_races, standings_races, standings_races.length);
    generateTableHead(table_races, head_data, "Pořadí");

    let table_season = document.querySelector("#season");
    
    generateTable(table_season, standings_season, standings_season.length);
    generateTableHead(table_season, head_data, "Pořadí");

    let table_full = document.querySelector("#full");
    
    generateTable(table_full, standings_full, standings_full.length);
    generateTableHead(table_full, head_data, "Pořadí");

    </script>
{% endblock %}