{% extends "base.html" %}
{% block content %}
<div class="box">
    <h1 class="title">
        Aktuální pořadí - závody
    </h1>
    <table id="races" class="table is-bordered is-striped  is-hoverable" style="text-align:center"> 

    </table>
</div>


<script>

    function generateTableHead(table, data, type) {
      let thead = table.createTHead();
      let row = thead.insertRow();
      let th = document.createElement("th");
        let text = document.createTextNode(type);
        th.appendChild(text);
        row.appendChild(th);
      
    
      for (let key of data) {
        let th = document.createElement("th");
        let text = document.createTextNode(key);
        th.appendChild(text);
        row.appendChild(th);
      }
    }
    
    function generateTable(table, data, range) {
       for (item of data){
        let row = table.insertRow();
        let cell = row.insertCell();
        let bold_el = document.createElement("B");
        let text = document.createTextNode(item.rank + ".");
        bold_el.appendChild(text);
        cell.appendChild(bold_el)

        cell = row.insertCell();
        text = document.createTextNode(item.username);
        cell.appendChild(text);

        cell = row.insertCell();
        text = document.createTextNode(item.points);
        cell.appendChild(text);
       }
    }
      
    standings_races = {{ data | tojson | safe}}
    
    console.log(standings_races)
    head_data = ["Hráč", "Počet Bodů"]
    let table_races = document.querySelector("#races");
    
    generateTable(table_races, standings_races, standings_races.length);
    generateTableHead(table_races, head_data, "Pořadí");
    
    </script>
{% endblock %}