{% extends "base.html" %}

{% block content %}
<div class="box content is-medium">
    <h2>Vysvětlivky: </h2>
    <ul>
        <li>
            <ion-icon name="lock-closed" style="color: green;"></ion-icon> Tip je zadán, ale je momentálně uzamčen pro
            ostatní uživatele. Tipy ostatních je možné vidět až po začátku akce.
        </li>
        <li>
            <ion-icon name="alert-circle" style="color: red;"></ion-icon> Tip není zadán, je třeba zadat před začátkem
            akce. Zadávání tipů se automaticky uzamče po oficiálním začátku akce.
        </li>
    </ul>
</div>

{% for table in data %}
<div class="box" style="overflow-x:auto;">
    <table class="table is-bordered is-striped" > 
        <thead>
            <tr>
                {% for cell in table.thead %}
                <th> {{cell}} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.rows %}
            <tr>
                {% for cell in row %}

                <td> {% if cell == "L" %}
                    <ion-icon name="lock-closed" style="color: green;"></ion-icon>
                    {% elif cell == "N" %}
                    <ion-icon name="alert-circle" style="color: red;"></ion-icon>
                    {% else %}
                    {{cell}}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}

{% endblock %}