{% extends "base.html" %}

{% block content %}
<div class="box content is-small">
  <h2>Jezdci</h2>

<table id="drivers" class="table is-bordered is-striped  is-hoverable">


</table>
</div> 

<div class="box content is-small">
  <h2>Konstruktéři</h2>

    <table id="teams" class="table is-bordered is-striped  is-hoverable">
    
    
    </table>
</div> 
<div class="box content is-medium">
  <table id="team_match" class="table is-bordered is-striped  is-hoverable">
  
  
  </table>
</div> 

<script>


function generateTableHead(table, data) {
    let thead = table.createTHead();
    let row = thead.insertRow();
    for (let key of data) {
        let th = document.createElement("th");
        let text = document.createTextNode(key); // moznot pouzit dictoipnnary]key]
        th.appendChild(text);
        row.appendChild(th);
  }
}



function generateTable(table, data) {
    for (let element of data) {

        let row = table.insertRow();
        for (key in element) {
            let cell = row.insertCell();
            let el
            //console.log(element[key])
            if (element[key] != null){
                if(element[key] == "LOCKED"){
                    el = document.createElement("ion-icon")
                    el.name = "lock-closed"
                    el.id = "lock"
                }
                else {
                    el = document.createTextNode(element[key]);
                }
            }
            else {
                el = document.createElement("ion-icon")
                el.name = "alert-circle"
                el.id = "noguess"

            }
            
            cell.appendChild(el);
        }
  }
}
    
season_results_drivers = {{ data.season.drivers | tojson | safe}}
season_results_teams = {{ data.season.teams | tojson | safe}}

users_results = {{ data.users | tojson | safe}}

let season_results_drivers_data = Object()
for (let elem of season_results_drivers){
  season_results_drivers_data[elem.type] = elem.value

}
let season_results_teams_data = Object()
for (let elem of season_results_teams){
  season_results_teams_data[elem.type] = elem.value

}

//console.log(season_results_teams_data)
//console.log(users_results)

let head_drivers = ["Hráč", "Body", "Mistr", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20"]
let head_teams = ["Hráč", "Body", "Mistr", "2", "3", "4", "5", "6", "7", "8", "9", "10"]

let table_drivers = document.querySelector("#drivers");
let table_teams = document.querySelector("#teams");

function parse_data(data, bet_types) {
  let data_bets = Array()
  for (let elem of data){
    let item = Object()
    //console.log(elem)
    item["username"] = elem.username
    item["total"] = elem.total_points
    for (let bet_type of  bet_types ){
        
        let bet = elem.bets.find((el) => el.type == bet_type)
        if (bet == null){
            item[bet_type] = null;
            continue;
        }
        if (bet.value != null){
            if (bet.extra != null){
                item[bet_type] = bet.value// + " (" + bet.points + " b." + "🃏)" 
            }
            else {
                if (bet.value != "LOCKED"){
                    item[bet_type] = bet.value// + " (" + bet.points + " b." + ")" 

                }
                else{
                    item[bet_type] = bet.value 

                }

            }
        }
        else {
            item[bet_type] = null
        }
    }
    data_bets.push(item)
  
}



  return data_bets
}


let table_data_drivers = parse_data(users_results,  Object.keys(season_results_drivers_data))
generateTable(table_drivers, table_data_drivers);
generateTableHead(table_drivers, head_drivers);



let table_data_teams = parse_data(users_results,  Object.keys(season_results_teams_data))
generateTable(table_teams, table_data_teams);
generateTableHead(table_teams, head_teams);


//let table_teams = document.querySelector("#teams");
//generateTable(table_teams, teamsdata, 11, teams_result);
//generateTableHead(table_teams, head, "KONSTRUKTÉŘI", sums.TEAM);


//let table_teammatch = document.querySelector("#team_match");
//generateTableTeamMatch(table_teammatch, team_match_data, 11, team_match_results);
//generateTableHead(table_teammatch, head_data, "TÝMOVÝ SOUBOJ", sums.TEAM_MATCH);

</script>
{% endblock %}


