{% extends "base.html" %}

{% block content %}
<div class="box">
<table class="table  is-bordered is-striped" style="overflow-x:auto;">
    <thead>
        <tr>
            {% for cell in thead_drivers %}
            <th> {{cell}} </th>

            {% endfor %}

        </tr>
    </thead>
    <tbody>
        {% for row in rows_drivers %}
        <tr>
            {% for cell in row %}
            <td>
            {% if cell == "N" %}
            <ion-icon name="alert-circle" style="color: red;"></ion-icon>
            {% else %}
            {{cell}} 
            
            
            {% endif %}
        </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="box">
    <table class="table  is-bordered is-striped" style="overflow-x:auto;">
        <thead>
            <tr>
                {% for cell in thead_constr %}
                <th> {{cell}} </th>
    
                {% endfor %}
    
            </tr>
        </thead>
        <tbody>
            {% for row in rows_constr %}
            <tr>
                {% for cell in row %}
                <td>
                {% if cell == "N" %}
                <ion-icon name="alert-circle" style="color: red;"></ion-icon>
                {% else %}
                {{cell}} 
                
                
                {% endif %}
            </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


{% endblock %}


