{% extends "base.html" %}

{% block content %}
<h1 class="title">
Tip na sezonu

</h1>


{% with messages = get_flashed_messages() %}
{% if messages %}
    <div  class="notification is-success">
         {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

{% from "driver_select.html" import build_driver_select, build_safety_car, build_bonus, build_submit, build_cancel %}

<form  method="POST" action="/race/{{season}}">
    <fieldset style="margin: 15px; border: none; ">
    <div class="columns">
        <div class="column">
            <div id="label" style="font-size: xx-large;">
            Jezdci
            </div>

          {{ build_driver_select("Mistr", "first", drivers, guess.first) }}
          {{ build_driver_select("2.", "first", drivers, guess.first) }}
          {{ build_driver_select("3.", "first", drivers, guess.first) }}
          {{ build_driver_select("4.", "first", drivers, guess.first) }}
        </div>
        <div class="column">
         druhy kloum
        </div>
        <div class="column">
          Third column
        </div>
        <div class="column">
          Fourth column
        </div>
      </div>
    </fieldset>  

</form>
</div>
</div>
{% endblock %}