{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Tip na sezonu

</h1>


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-success">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

{% from "driver_select.html" import build_driver_select, build_submit, build_cancel %}

<form method="POST" id="season"  onsubmit='return validateForm();' action="/season">
  <fieldset style="margin: 15px; border: none; "  {%if  lock %} disabled {% endif %} >
    <div class="columns">
      <div class="column">
        <div id="label" style="font-size: xx-large;">
          Jezdci
        </div>
        {% for item in data.drivers %}
        {{ build_driver_select(item.label, item.attr, drivers, guess[item.attr]) }}
        {% endfor %}
      </div>
      <div class="column">
        <div id="label" style="font-size: xx-large;">
          Konstruktéři
        </div>

        {% for item in data.constructors %}
        {{ build_driver_select(item.label, item.attr, constructors, guess[item.attr]) }}
        {% endfor %}
      </div>

  </fieldset>
  <fieldset style="margin: 15px; border: none; "  {%if  lock %} disabled {% endif %} >
    {{ build_submit("Uložit") }}
    {{ build_cancel("Storno") }}
  </fieldset>
  </div>

  </div>



</form>
<script src="{{url_for('static', filename='validate_season.js')}}"></script>

{% endblock %}